@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Hind:wght@300&family=Ms+Madi&display=swap');
.flex-all-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.attractive-font{
    font-family: 'Ms Madi', cursive;
    font-weight: 500;
    font-size: x-large;
}
.nav-font{
    text-decoration: none;
    font-family: 'Dosis', sans-serif;
    color: white;
    font-weight:bold;
    font-size:large;
}
.nav-font-sm{
    text-decoration: none;
    font-family: 'Dosis', sans-serif;
    color: white;
    font-weight:bold;
    font-size:small;
}